 /* * Globals */
.cover-container {
 max-width: 42em;
}
 /* * Header */
.nav-masthead .nav-link {
 background-color: transparent;
 border-bottom: .25rem solid transparent;
 color: var(--rfi-black);
 font-weight: 400;
 padding: .25rem 0;
}

 .nav-masthead .nav-link:focus,
 .nav-masthead .nav-link:hover {
   /* border-bottom-color: rgba(255, 255, 255, .25); */
   border-bottom-color: var(--fri-gray-400);
 }

 .nav-masthead .nav-link+.nav-link {
   margin-left: 1rem;
 }

.divider {
  background: var(--mainColour);
  border-radius: 50px;
  height: 4px;
  margin-bottom: 1rem;
  width: 68px;
  &.text-center {
    margin: 0 auto;
  }
}

.rfi-navbaroff .navbar-brand:hover, .navbar-brand:focus {
    color: var(--rfi-aHover);
 }
