<div class="card border-0">
  <div class="card-body pb-0">
    <h5 class="card-title">{{ i18n "allTags" }}</h5>
    {{ range .Site.Taxonomies.tags }}
    </div>
    <div class="d-flex justify-content-between align-items-start">
      <a href="{{ .Page.Permalink }}" class="list-group-item list-group-item-action">
        <span class="position-absolute top-50 end-0 translate-middle badge rounded-pill bg-dark font-monospace">{{ .Count }}</span>
        {{ .Page.Title }}</a>
    {{ end }}
  </div>
</div>
